.table-wrapper {
    margin-top: 3.5em;
}

table {
    width: 100%;
    border-collapse: collapse;
}
thead {
    background-color: steelblue;
}

tr:nth-child(even) {
    background-color: lightgray;
}

th, td {
    padding: 1em 2.5em;
}
