$breakpoints: (
    small: 767px,
    medium: 991px,
    large: 1199px
);

$at_least_points: (
    medium: 768px,
    large: 992px,
    extra_large: 1200
);

$accent-blue: rgb(0, 168, 219);
$accent-blue-tinted: rgb(45, 119, 180);
$accent-blue-dark: rgb(35, 95, 145);